.main-logo{
  width: 375px;
height: 97px;
flex-shrink: 0;
margin: 9px  ;
}
.navbar {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

nav ul li a{
  color: #000;
  font-size: 20px;
  font-family: 'Karla';
  text-decoration: none;
}

nav ul li a:hover{
  text-decoration: underline solid #495E57;

}